@use 'src/colors' as color;

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    background: color.$white;
    color: color.$text-primary;
  }

button, input, textarea {
    font: inherit;
}
button {
    outline: none;
    border: none;
    background: transparent;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

a {
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}