$bg: #f3f3f3;
$bg-primary: #1a4b5b;
$bg-secondary: #5e7e89;
$bg-gray: #f3f3f3;
$bg-light: #FAFAFA;
$text-primary: #444;
$text-secondary: #6c757d;
$text-light: #c2c2c2;
$safana: #fa4e0a;
$cover: rgba(0, 0, 0, 0.4);
$line: #efefef8f;
$dark: #3E3636;
$light: #F5F5F5;
$black: #121212;
$white: #fff;
$transparent: #fff0;