@use 'src/colors' as colors;
@use 'src/media' as media;
@use 'src/base';
@use 'sass:color';


@keyframes languagesMouseOver {
  from {
    width: 3rem;
    background: colors.$transparent;
  }

  to {
    width: 9rem;
    background: colors.$white;

  }
}

@keyframes languagesMouseLeave {
  from {
    width: 9rem;
    background: colors.$white;
  }

  to {
    width: 3rem;
    background: colors.$transparent;
  }
}

@keyframes navLinkHover {
  from {
    right: 50%;
    width: 0;
  }

  to {
    right: 0;
    width: 100%;
  }
}



%nav-link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  height: 4.8rem;
  color: colors.$white;
  cursor: pointer;
}

body:has(.collapsed-nav) {
  overflow-y: hidden
}


.btn--primary {
  @extend %nav-link;
  display: flex;
  justify-content: center;
  padding: .67em 1.34em;
  width: 21rem;
  border-radius: 4rem;
  color: colors.$white;
  background-color: colors.$bg-primary;
  transition: background-color .4s;

  &:hover {
    background-color: color.adjust(colors.$bg-primary, $lightness: 10);

    a {
      color: colors.$white;
    }
  }

}

/* -------------------------------------------
              # HEADER 
 -------------------------------------------- */

.header {
  position: relative;

  @media screen and (max-width:media.$header-mobile) {

    &:is(.collapsed-nav) {

      .header__navbar {
        background-color: colors.$white;
      }

      .menu-btn {
        transition: opacity 0.5s;

        &:hover {
          opacity: 0.7;
        }
      }

      .menu-btn>.bar {
        background: colors.$black;
      }

      .menu-btn>.bar:first-child {
        position: relative;
        top: 50%;
        transform: rotate(45deg);

      }

      .menu-btn>.bar:nth-child(2) {
        opacity: 0;
      }

      .menu-btn>.bar:last-child {
        position: relative;
        top: -41%;
        width: 100%;
        transform: rotate(-45deg);
      }

      .nav-collapse-layout {
        visibility: visible;
      }

      .nav-collapse {
        padding: 3.5rem;
        transform: translateX(0);

        @media screen and (max-width:media.$mobile) {
          width: 80%;
        }

        @media screen and (min-width:media.$mobile) {
          width: 50%;
        }

        .header__nav-link {
          border-bottom: 1px solid rgba(0, 0, 0, 0.14);
          color: colors.$black;

          &::after {
            display: none;
          }

          &:hover {
            opacity: 0.7;
          }
        }
      }

      .nav-links-list {
        width: 100%;
      }

      .btn--primary {
        margin-block: 2em;
        width: 100%;
      }

      .sosial-links__link {
        color: colors.$black;
        opacity: 0.6;
      }


      .languages {

        justify-content: center;

        &__container {
          position: static;
          display: flex;
          justify-content: center;
          gap: 1.4rem;
          overflow-x: visible;
          animation: none;

          &:hover {
            animation: none;
          }
        }

        &__link--active {
          position: static;
        }

        &__link,
        &__link--active {
          transition: transform 0.5s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  @media screen and (min-width:media.$header-mobile) {

    .btn--primary {
      margin-left: 2em;
    }
  }

  &:is(.onscroll) {

    .sosial-links {
      display: none;
    }

    .nav-collapse {
      flex-direction: row;
    }

    .nav-container {
      flex-direction: row;
    }

    .header__nav-link {
      color: colors.$black;
    }

    .bar {
      background: colors.$black;
    }
  }

  &:not(.onscroll) {

    .sosial-links {
      display: flex;
    }

    .nav-container {
      flex-direction: column;
    }

    .header__nav-link {
      color: colors.$white;
    }

    .bar {
      background: colors.$white;
    }
  }

  &__navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    color: transparent;
    transition: all .5s;

    .onscroll & {
      background-color: colors.$white;
    }
  }

  &__container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    padding-block: 0.8rem;
    width: 90%;

    @media (min-width: media.$mobile) and (max-width: media.$tablet) {
      width: 54rem;
    }

    @media (min-width: media.$tablet) and (max-width:media.$header-mobile) {
      width: 72rem;
    }
  }

  .nav-collapse-layout {

    display: flex;

    @media screen and (max-width:media.$header-mobile) {
      position: absolute;
      top: 9.6rem;
      right: 0;
      left: 0;
      justify-content: flex-end;
      align-items: flex-start;
      height: 100vh;
      visibility: hidden;
      background-color: colors.$cover;
      transition: visibility 0.3s;
    }

    @media screen and (min-width:media.$header-mobile) {
      position: static;
      height: 100%;
      background-color: transparent;
    }
  }

  .nav-collapse {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    height: 100%;
    transition: transform 0.5s;

    @media screen and (max-width:media.$header-mobile) {
      background: colors.$white;
      transform: translateX(100%);
    }

    @media screen and (min-width:media.$header-mobile) {
      background: transparent;
    }
  }

  .nav-links-list {
    display: flex;

    @media screen and (max-width:media.$header-mobile) {
      flex-direction: column;
    }

    @media screen and (min-width:media.$header-mobile) {
      flex-direction: row;
    }
  }

  &__logo-wrapper {
    width: 24rem;
    height: 8rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .nav-extra {
    display: flex;
    align-items: center;
    gap: 1em;

    @media screen and (max-width:media.$header-mobile) {
      flex-direction: column-reverse;
      margin-bottom: 1em;
    }

    @media screen and (min-width:media.$header-mobile) {
      flex-direction: row;
      justify-content: flex-end;
      margin-bottom: 0;
    }
  }

  .languages {
    display: flex;
    margin-inline: 2.4rem;
    width: 10rem;
    justify-content: flex-end;

    &__container {
      position: relative;
      width: 3rem;
      height: 3rem;
      border-radius: 5rem;
      overflow-x: hidden;
      background: colors.$white;
      transition: width 1s;
      animation: languagesMouseLeave 0.8s;


      &:hover {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 9rem;
        animation: languagesMouseOver 0.8s;
      }
    }

    &__link--active {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      order: 1;
    }

    &__link,
    &__link--active {
      border: 3px solid colors.$white;
      border-radius: 5rem;
    }
  }

  .sosial-links {
    font-size: 2.2rem;

    &__link {
      display: flex;
      align-items: center;
      padding: .45em;
      height: 3.92rem;
      color: colors.$white;
      transition: color 0.8s;

      &:hover {
        color: color.adjust(colors.$white, $lightness: -20, $alpha: 0.8);
      }
    }

    @media screen and (max-width:media.$header-mobile) {
      display: none;
    }

    @media screen and (min-width:media.$header-mobile) {
      display: flex;
    }

  }

  &__nav-link {

    @extend %nav-link;
    position: relative;
    margin-inline: 0.54em;

    @media screen and (max-width:media.$header-mobile) {
      color: colors.$black;
    }

    @media screen and (min-width:media.$header-mobile) {
      color: colors.$white;
    }

    &:not(:nth-child(2))::after {
      content: "";
      position: absolute;
      right: 50%;
      bottom: 0;
      display: block;
      margin-inline: auto;
      width: 0;
      height: 2px;
      background: colors.$safana;
      transition: width 0.3s;
      animation: navLinkBorderless 0.3s;
    }

    &:hover {
      &::after {
        right: 0;
        width: 100%;
        animation: navLinkHover 0.3s;
      }
    }
  }

  .dropdown {
    display: none;
  }

  .menu-button-wrapper {
    justify-content: center;
    align-items: center;

    .menu-btn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      width: 3.6rem;
      height: 2.8rem;
    }

    .bar {
      display: inline-block;
      width: 100%;
      height: 0.2rem;
      opacity: 1;
      transition: all 0.5s;

      &:last-child {
        width: 70%;
      }
    }

    @media screen and (max-width:media.$header-mobile) {
      display: flex;
    }

    @media screen and (min-width:media.$header-mobile) {
      display: none;
    }
  }

}

/* -------------------------------------------
              # BANNER SECTION 
 -------------------------------------------- */

.banner {

  .carousel-inner {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: colors.$cover;
    }
  }

  .carousel-item {

    @media screen and (max-width:media.$tablet) {
      height: 50vh;
    }

    @media screen and (min-width:media.$tablet) {
      height: 100vh;
    }


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .carousel-caption {
    top: 50%;
    left: 16%;
    text-align: initial;
    transform: translateY(-20%);


    h1 {

      margin-bottom: 0.4em;

      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 1.2px;
      text-transform: uppercase;

      @media screen and (max-width:media.$tablet) {
        max-width: 36rem;
        font-size: 3.2rem;
      }

      @media screen and (min-width:media.$tablet) {
        max-width: 60rem;
        font-size: 6rem;
      }
    }

    h3 {
      font-size: 2.4rem;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;

    }
  }

  .carousel-control-prev-icon {
    background-image: url('/img/prev.svg');
  }

  .carousel-control-next-icon {
    background-image: url('/img/next.svg');
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
  }

  .carousel-indicators {
    justify-content: flex-start;
    margin-bottom: 1.6rem;

    li {
      width: .7rem;
      height: .7rem;
      margin-inline: 0.6rem;
      border-radius: 50%;

      &:is(.active) {
        position: relative;
        top: -0.3rem;
      }
    }
  }
}

/* -------------------------------------------
              # ADVANTAGES 
 -------------------------------------------- */


.advantages {

  &__container {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    width: 90%;
    @media (min-width: media.$mobile) and (max-width: media.$tablet) {
      width: 54rem;
    }
    @media (min-width: media.$tablet) and (max-width:media.$header-mobile) {
      width: 72rem;
    }
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-block: 4rem;

    &::before {

      content: "";
      position: absolute;
      top: (13.4rem / 2);
      z-index: -1;
      width: 80%;
      height: 2px;
      background-color: colors.$line;
      @media screen and (max-width: media.$tablet) {
        display: none;
       }
       @media screen and (min-width: media.$tablet) {
         display: block;
       }
    }
  }

  &__item {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;


  }

  &__item-icon 
  
  figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.4rem;
    height: 13.4rem;
    background-image: url("/img/adv-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item-text {
    width: 17.2rem;
    padding-inline: 0.67em;
    margin-top: 1em;
    font-size: 1.5rem;
    text-align: center;
  }
}